.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.top-stories-or-title {
  font-size: 50px;
  margin-top: 1%;
  margin-bottom: 3%;
  font-variant: small-caps;
  font-style: italic;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0 8px 6px -8px black;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
