.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.articles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
