.nav-container {
  display: flex;
  align-items: center;
  background-color: black;
  color: whitesmoke;
  position: fixed;
  top: 0;
  width: 100%;
}

.title-text {
  margin-left: 1%;
  font-size: 150%;
  margin-right: auto;
  cursor: default;
}
