.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
}

.title {
  margin-bottom: 0;
  text-decoration: underline;
}

.byline {
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.published {
  margin-top: 0;
}

.abstract {
  width: 90%;
  margin-bottom: 2%;
}

.website-anchor {
  margin-bottom: 2%;
  font-weight: bold;
  transition: 0.2s;
}

.website-anchor:hover {
  transform: scale(1.05);
}

.website-anchor:link {
  text-decoration: none;
}

.website-anchor:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

button {
  border-radius: 5px;
  border: none;
  background-color: salmon;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}
